.main{
    max-width: 300px;
    margin: auto;
}
.main main {
    display: flex;
    justify-content: space-around;
}
.main main h2 {
    width: 350px;
}
.wrapperTextEnter{
    display: flex;
    border: crimson 10px solid;
}
.wrapperTextEnter textarea{
    width: 350px;
    height: 40px;
    resize: none;
    font-size: 30px;
}
.wrapperTextEnter button{
    padding: 0 20px 0 20px;
}
.items{
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid;
    margin: 10px;
}
.items button img{
    width: 20px;
}
.styleFromButtonDone{
    background: green;
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid;
    margin: 10px;
}
.styleFromButtonDone button img{
    width: 20px;
}